<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="miniecomApp.product.home.createOrEditLabel">
        Créer ou éditer un Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="miniecomApp.product.productName" for="field_productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
          <div *ngIf="editForm.get('productName')!.invalid && (editForm.get('productName')!.dirty || editForm.get('productName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="miniecomApp.product.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantity')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantity')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="miniecomApp.product.imageProduct" for="field_imageProduct">Image Product</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageProductContentType')!.value + ';base64,' + editForm.get('imageProduct')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('imageProduct')!.value"
              alt="product image"
            />
            <div *ngIf="editForm.get('imageProduct')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('imageProductContentType')!.value }}, {{ byteSize(editForm.get('imageProduct')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('imageProduct', 'imageProductContentType', 'file_imageProduct')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imageProduct"
              data-cy="imageProduct"
              (change)="setFileData($event, 'imageProduct', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="imageProduct"
            id="field_imageProduct"
            data-cy="imageProduct"
            formControlName="imageProduct"
          />
          <input
            type="hidden"
            class="form-control"
            name="imageProductContentType"
            id="field_imageProductContentType"
            formControlName="imageProductContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="miniecomApp.product.unitprice" for="field_unitprice">Unitprice</label>
          <input type="number" class="form-control" name="unitprice" id="field_unitprice" data-cy="unitprice" formControlName="unitprice" />
          <div *ngIf="editForm.get('unitprice')!.invalid && (editForm.get('unitprice')!.dirty || editForm.get('unitprice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitprice')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitprice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="miniecomApp.product.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'miniecomApp.StatusProduct.null' | translate }}</option>
            <option *ngFor="let statusProduct of statusProductValues" [value]="statusProduct">
              {{ 'miniecomApp.StatusProduct.' + statusProduct | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="miniecomApp.product.category" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categoriesSharedCollection">
              {{ categoryOption.categoryName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
